<footer class="page-footer">
  <div class="text-center small">&copy; 2021 Yair Gordon</div>
  <div class="text-center small">Icons &copy; <a class="text-white" href="https://fontawesome.com/license">FontAwesome</div>
</footer>
