<div class="header text-center">
  <h1 class="mb-0 pb-0">Pulse</h1>
  <div class="intro mt-3">
    <p>
      <strong>Pulse</strong> is a simple tool to help keep people who are affected by disruptive events such as natural disasters, terror attacks, and wars.
    </p>
    <p>After signing up, you can easily <strong>check in</strong> whenever you need to let people know how you are.</p>
    <p>Your profile page is public, and anyone can see your updates.</p>
    <p>If you have someone's user-name, you can <strong>search</strong> for it and we'll take you to their profile page.</p>
    <p><strong>Important:</strong> Pulse makes no guarantees for information accuracy, and provides this service as a helpful tool whose accuracy cannot be assured.</p>
    <p>Pulse <strong>will not act</strong> upon users' information, and is <strong>not a replacement for local emergency services.</strong></p>
  </div>
</div>
<div class="page-content text-center flex-grow-1 d-flex flex-column justify-content-center">
  <div class="mb-2">
    <% if user_signed_in? %>
      <%= link_to 'Check In', new_checkin_path, class: 'btn btn-primary w-100' %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
  <div>
    <%= render 'shared/find_user_form' %>
  </div>
</div>
